{% extends "_base.html" %} {% block content %} {% load static %}

<div style="height: 90vh;" class="d-flex flex-column align-items-center justify-content-center gap-4">
    <header>
        <h1>{{titulo}}</h1>
    </header>
    <p>{{msj}}</p>
    <main>
        <address>
            <div>
                {% if disponibilidad == False %}
                <p style="color: darkgreen"><em>No está disponible</em></p>
                {% else %}
                <p style="color: darkgreen;"><em>Disponible</em></p>
                {% endif %}
            </div>
            <p><strong>Teléfono:</strong> {{telefono}} .</p>
            <p><strong>Email:</strong> <a href="mailto:{{email}}">{{email}}</a> .</p>
        </address>
    </main>
</div>

{% endblock content %}