{% extends "_base.html" %} {% block content %} {% load static %}

<div>
  <h1 class="text-center mt-5">Autores</h1>

  <div class="d-flex flex-column align-items-center justify-content-center mb-4">
    <a href="{% url 'crear_autor_page' %}" class="btn btn-primary">Crear autor</a>
  </div>

  <!-- Lista autores -->
  <div class="d-flex flex-column align-items-center justify-content-center mt-5">
    <div style="width: 60%;" class="d-grid">
      {% for autor in autores %}
      <div class="row">
        <div class="col-8">
          <h4>{{autor.nombre}}</h4>
          <div class="d-grid mt-3" style="color: hsl(0, 0%, 30%);">
            <div class="row mx-5">
              <div class="col-8">
                <p><strong>Nacionalidad:</strong> {{autor.nacionalidad}}</p>
              </div>
              <div class="col-4">
                <p><strong>edad:</strong> {{autor.edad}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex flex-row gap-2">
          <small>
            <a href="{% url 'editar_autor_page' autor.id %}" class="btn btn-outline-primary">Editar ✎</a>
          </small>
          <small>
            <a href="{% url 'eliminar_autor' autor.id %}" class="btn btn-outline-primary">Eliminar 🗑</a>
          </small>
        </div>
      </div>
      <hr>
      {% endfor%}
    </div>
  </div>
</div>
{% endblock content %}