{% extends "_base.html" %} {% block content %} {% load static %}

<div>
  <h1 class="text-center mt-5 mb-4">Añadir Libro</h1>

  <div class="d-grid justify-content-center">
    <form action="{% url 'añadir_libro' %}" class="" method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-6"> <!-- Codigo -->
            <label class="form-label" for="codigo-libro">Código: </label>
            <input class="form-control" type="text" name="codigo-libro" id="codigo-libro" placeholder=" 2a8s7a" />
          </div>
          <div class="col-6"><!-- Titulo -->
            <label class="form-label" for="titulo-libro">Título: </label>
            <input class="form-control" type="text" name="titulo-libro" id="titulo-libro"
              placeholder=" El Principito" />
          </div>
        </div>
      
        <div class="row">
          <div class="col-6"> <!-- Autor -->
            <label class="form-label" for="autor-libro">Autor</label>
            <select class="form-select" name="autor-libro" id="autor-libro">
              {% for autor in autores %}
              <option class="form-control" value="{{autor.id}}">{{autor.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-6"> <!-- Descripcion -->
            <label class="form-label" for="descripcion-libro">Descripción: </label>
            <input class="form-control" type="text" name="descripcion-libro" id="descripcion-libro"
              placeholder="Digite la descripción" />
          </div>
        </div>
      
      <div class="row">
        <div class="col-6"> <!-- Genero -->
          <label class="form-label" for="genero-libro">Genero: </label>
          <input class="form-control" type="text" name="genero-libro" id="genero-libro" placeholder=" Fantasia" />
        </div>
        <div class="col-6"> <!-- Idioma -->
          <label class="form-label" for="idioma-libro">Idioma: </label>
          <input class="form-control" type="text" name="idioma-libro" id="idioma-libro" placeholder=" Español" />
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-6"> <!-- Disponibilidad -->
            <label class="form-label" for="disponibilidad-libro">Disponibilidad: </label><!-- Funciona???? -->
            <input class="form-check" type="checkbox" name="disponibilidad-libro" id="disponibilidad-libro" />
          </div>
          <div class="col-6"> <!-- Editorial -->
            <label class="form-label" for="editorial-libro">Editorial: </label>
            <input class="form-control" type="text" name="editorial-libro" id="editorial-libro"
              placeholder=" Minotauro" />
          </div>
        </div>
      </div>
      <!-- submit -->
      <div class="d-flex flex-column align-items-center justify-content-center">
        <button class="btn btn-success mt-5" type="submit">Guardar</button>
      </div>
    </form>
    <a href="{% url 'libros_page' %}" class="btn btn-link mt-4">Volver</a>
  </div>

</div>

{% endblock content %}